h2{
    background-color: green;
}
body{
    background-color: gainsboro;
    padding: 10px;
    margin: auto;
}
.header{
    text-align: center;
}
.backy{
    padding: 2px;
    padding-left: 5px;
}
footer {
    background-color: green;
    padding: 10px;
}
footer a,
a:visited
a:active {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}
a:hover {
    text-decoration: none;
}