h2{
    background-color: green;
}
body{
    background-color: gainsboro;
    padding: 10px;
    margin: auto;
}
.header{
    text-align: center;
}
.backy{
    padding: 2px;
    padding-left: 5px;
}